<div class="report-widget partner-customers-widget">
    <div class="card m-b-30">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-9">
                    <h5 class="card-title mb-0"><?= $headline ?></h5>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <?php foreach ($labels as $label) { ?>
                            <th><?= $label ?></th>
                        <?php } ?>
                    </tr>
                    </thead>
                    <tbody>

                    <?php foreach ($series as $fields) { ?>
                    <tr>
                        <?php foreach ($fields as $field) { ?>
                            <?php if(substr( $field, 0, 4 ) === "http"){  ?>
                               <td><img src="<?= $field ?>" class="img-fluid" width="35" alt="logo"></td>
                            <?php } else {  ?>
                            <td><?= $field ?></td>
                            <?php } ?>
                        <?php } ?>
                    </tr>
                    <?php } ?>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
