<div class="report-widget stamp-period-widget">
    <div class="card m-b-30 dash-widget">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-5">
                    <h5 class="card-title mb-0"><?= $headline ?></h5>
                </div>
            </div>
        </div>
        <div class="card-body py-0 pl-0 pr-2">
            <div id="apex-bar-chart-<?= $random ?>"></div>
        </div>
    </div>

    <script>
        var options = {
            chart: {
                height: 362,
                type: 'bar',
                toolbar: {
                    show: false
                },
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '25%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            colors: <?= $colors ?>,
            series: <?= $seriesData ?>,
            legend: {
                show: false,
            },
            xaxis: {
                categories: <?= $timeline ?>,
                axisBorder: {
                    show: true,
                    color: 'rgba(0,0,0,0.05)'
                },
                axisTicks: {
                    show: true,
                    color: 'rgba(0,0,0,0.05)'
                }
            },
            grid: {
                row: {
                    colors: ['transparent', 'transparent'], opacity: .2
                },
                borderColor: 'rgba(0,0,0,0.05)'
            },
            fill: {
                opacity: 1,
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return "" + val + ""
                    }
                }
            }
        }
        var chart = new ApexCharts(
            document.querySelector("#apex-bar-chart-<?= $random ?>"),
            options
        );
        chart.render();
    </script>
</div>
