<div class="report-widget partner-customers-widget">
    <div class="card m-b-30">
        <div class="card-header">
            <h3 class="card-title mb-0"><?= $headline ?></h3>
        </div>
        <div class="card-body">
            <div id="apex-pie-chart-<?= $random ?>" class="d-flex justify-content-center"></div>
            <div class="row" style="justify-content: center;">

                <?php foreach ($series as $serie) { ?>
                    <h5 class="mb-0 mr-3"><?= $serie['data'] ?></h5>
                <?php } ?>

            </div>
        </div>
    </div>

    <script>
      var options = {
        chart: {
          type: 'donut',
          width: 250,
        },
        plotOptions: {
          pie: {
            donut: {
              size: "85%"
            }
          }
        },
        dataLabels: {
          enabled: false
        },
        colors: <?= $colors ?>,
        series: <?= $seriesData ?>,
        labels: <?= $labels ?>,
        legend: {
          show: true,
          position: 'bottom'
        },
      }
      var chart = new ApexCharts(
          document.querySelector("#apex-pie-chart-<?= $random ?>"),
          options
      );
      chart.render();
    </script>
</div>
