<div class="report-widget partner-customers-widget">
    <div class="card m-b-30">
        <div class="card-body">
            <div class="media">
                <span class="align-self-center mr-3 action-icon badge badge-secondary-inverse"><i class="feather <?= $icon ?>"></i></span>
                <div class="media-body">
                    <p class="mb-0"><?= $name ?></p>
                    <h5 class="mb-0"><?= $data ?></h5>
                </div>
            </div>
        </div>
    </div>
</div>
