<div class="report-widget stamp-period-widget">
    <div class="card m-b-30">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-9">
                    <h5 class="card-title mb-0"><?= $headline ?></h5>
                </div>
                <div class="col-3">
                </div>
            </div>
        </div>
        <div class="card-body py-0">
            <div class="row align-items-center">
                <div class="col-lg-3">

                    <?php foreach ($series as $serie) { ?>
                        <div class="revenue-box border-bottom mb-2">
                            <h4><?= $serie['total'] ?></h4>
                            <p><?= $serie['name'] ?></p>
                        </div>
                    <?php } ?>

                </div>
                <div class="col-lg-9">
                    <div id="apex-line-chart-stamp-period-widget-<?= $random ?>"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
      var options = {
          chart: {
              height: 250,
              type: 'area',
              toolbar: {
                  show: false
              },
              zoom: {
                  type: 'x',
                  enabled: false,
                  autoScaleYaxis: true
              },
          },
          dataLabels: {
              enabled: false
          },
          stroke: {
              curve: 'smooth',
          },
          colors: <?= $colors ?>,
          series: <?= $seriesData ?>,
          legend: {
              show: false,
          },
          xaxis: {
              type: 'datetime',
              categories:  <?= $timeline ?>,
              axisBorder: {
                  show: true,
                  color: 'rgba(0,0,0,0.05)'
              },
              axisTicks: {
                  show: true,
                  color: 'rgba(0,0,0,0.05)'
              }
          },
          grid: {
              row: {
                  colors: ['transparent', 'transparent'], opacity: .2
              },
              borderColor: 'rgba(0,0,0,0.05)'
          },
          tooltip: {
              x: {
                  format: 'dd/MM/yy HH:mm'
              },
          }
      }

      var chart = new ApexCharts(
          document.querySelector("#apex-line-chart-stamp-period-widget-<?= $random ?>"),
          options
      );
      chart.render();
    </script>
</div>
