<div class="report-widget partner-customers-widget">
    <div class="card m-b-30">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-7">
                    <h5 class="card-title mb-0"><?= $headline ?></h5>
                </div>
                <div class="col-5">
                    <a class="btn btn-secondary-rgba float-right font-13 mr-3" href="<?= Backend::url('digitalfleetsolution/driverscare/activitylogs') ?>"> Alle Anzeigen</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="activities-history">
                <?php if($series->isNotEmpty()): ?>
                <?php foreach($series as $activity): ?>
                <div class="activities-history-list">
                    <div class="activities-history-item">
                        <h6><?= $activity->message ?></h6>
                        <p class="mb-0"><?= (new Carbon\Carbon($activity->created_at))->format('d.m.Y H:i') ?></p>
                    </div>
                </div>
                <?php endforeach; ?>
                <?php else: ?>
                <p><?= e(trans('digitalfleetsolution.driverscare::lang.report_widgets.activity_feed.no_activities_exists'))?></p>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>
